{
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": true
}
