:root {
	--clr-700: hsl(40, 2%, 25%);
	--clr-600: hsl(35, 9%, 37%);
	--clr-500: hsl(30, 1%, 40%);
	--clr-400: hsl(24, 25%, 58%);
	--clr-300: hsl(27, 14%, 72%);
	--clr-200: hsl(28, 29%, 84%);

	--ff-primary: 'inter', sans-serif;

	--fw-regular: 400;
	--fw-bold: 600;

	--fs-200: 0.625rem; //10px
	--fs-300: 1rem; //16px
	--fs-400: 1.5rem; //24px
	--fs-500: 2rem; //32px
	--fs-600: 3.75rem; //60px
	--fs-700: 4.375rem; //70px
}